<h1>Listing events</h1>

<br>

<%= link_to 'New Payment', new_payment_path %>

<div>
  <div style="margin: 10px 0px;">
    <% if @events.present? %>
      <table class="table table-inverse">
        <thead>
          <tr>
            <th>Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
       
          <% @events.each do | event | %>
            <tr>
              <td> <%= event.name %></td>
              <td><%= link_to 'Show', event %></td>
              
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div> <h3>No user available</h3></div>
    <% end %>
  </div>
  <div class="clear"><%= link_to 'New Payment', new_payment_path %> </div>
</div>